POSTGRES_USER = mls
POSTGRES_PASSWORD = mls_pass
POSTGRES_DATABASE = mls
POSTGRES_DB = mls
POSTGRES_PORT = 5432
POSTGRES_HOST = db
PROJECT_NAME = My Little Star
PROJECT_DESCRIPTION = Service to watch movies, series etc together
PROJECT_VERSION = 0.1.0
BACKEND_API_PORT = 8000
FRONTEND_WEBAPP_PORT = 3000
FRONTEND_WEBAPP_HOSTNAME = 0.0.0.0
KINOPOISK_API_KEY = key
KINOPOISK_API_URI = https://api.kinopoisk.dev/v1.4/
